@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
li {
	list-style: none;
}





nav.navbar {
	background: #0A1931 !important;
}
.navbar-brand {
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-toggler {
	color: #fff !important;
	border: none !important;
}




/* Jumbotron */
#jumbotron {
	width: 100%;
	height: 100vh !important;
}
#jumbotron .container {
	height: 100%;
}
#jumbotron h6 {
	letter-spacing: 2px;
}
#jumbotron .sosmed a {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}




/* Work */
#works {
	background: #0A1931;
	width: 100%;
}
#works img {
	width: 100% !important;
	transition: transform .5s;
}
#works img:hover {
	transform: scale(1.02);
}




/* Skills */
#skills {
	width: 100%;
}
#skills .col-md i {
	font-size: 8rem !important;
	color: #0A1931;
}
#skills .col-md .shadow {
	text-align: center;
	transition: transform .5s;
}
#skills .col-md .shadow:hover {
	transform: translateY(-.5rem);
}




/* Certificates */
#certificates {
	background: #0A1931;
	width: 100%;
}
.carousel-item {
	position: relative;
}
.carousel-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .1);
}



/* Footer */
footer {
	width: 100%;
	background: #0A1931;
}
